<!-- <h1>COLORS</h1> -->
{{#each model as |bricks|}}

  <section class="color-group {{bricks.color}}-bricks ">
    <h2>{{bricks.color}}</h2>
    <section>
      {{#each bricks.bricks as |bric|}}
      <p class="brick-size {{if bricks.onSale "on-sale" ""}}">Size:{{bric.size}}</p>
      <p class="brick-quantity">Quantity:{{bric.quantity}}</p>
      {{/each}}
    </section>
  </section>
{{/each}}








{{outlet}}
